footer{
	padding-top: 30px;
	color: white;
	background-color: rgba(120, 120, 120, 0.5);
	height: 30%;
	width: 100%;
	float: left;
}

li.footerItems {
	float: none;
}

ul.footerLists {
	float: left;
}
footer a{
	color: lightskyblue;
}
