footer{
	padding-top: 30px;
	color: white;
<<<<<<< HEAD
	background-color: #1C1915;
	height: 200px;
=======
	background-color: rgba(120, 120, 120, 0.5);
	height: 30%;
>>>>>>> 7fa4566936018ff8b1942259d8874097bc08dffb
	width: 100%;
	float: left;
}

li.footerItems {
	float: none;
}

ul.footerLists {
	float: left;
}
footer a{
	color: lightskyblue;
}
