footer{
	padding-top: 30px;
	color: white;
	background-color: #1C1915;
	height: 200px;
	width: 100%;
	float: left;
}

li.footerItems {
	float: none;
}

ul.footerLists {
	float: left;
}
footer a{
	color: lightskyblue;
}
