body {
	padding: 0;
	margin: 0;
}

header nav{
	background-color: #50d229;
}

nav ul {
	list-style-type:none;
	padding:0;
}
nav li, nav a, section div {
	display:inline;
	float:left;
}
nav a:link, nav a:visited {
	background-color:green;
	color:lightblue;
	display:block;
	width:160px;
	text-align:center;
	padding: 10px 0;
}
nav a:hover {
background-color:yellow;
}
.mainImage {
	width: 100%;
}

.tarjeta {
	padding: 30px;
}
.sugerencias{
	position:fixed;
	right:20px;
	top:600px;
	background-color:orange;
	color:white;
	display:block;
	width:160px;
	text-align:center;
	padding:10px 0;
}
footer{
	margin:40px 0;
	display:inline;
	top:1000px;
	background-color: darkslategray
}
footer li, ul{
	background-color: darkslategray
}
footer nav a:hover{
	color:black;
}
