body {
	padding: 0;
	margin: 0;
	background-color: #332C28;
}

.mainImage {
	width: 100%;
}


iframe{
	border:0;
}

.pUbi{
	color: lightgrey;
	float: right;
	font-family: cursive;
	font-size: 20pt;
	text-align: center;
	padding:10px;
	margin:20px;
	height:50%;
	width:45%;

}
.tarjeta {
	float:left;
	padding: 2%;
	width: 25%;
	display: inline-block;
}

.imgTarjeta {
	width: 105%;
}

.descrTarjeta{
	color: white;
	font-size: 140%;
	font-family: monospace;
	text-align: center;
	padding-bottom: 10%;
	padding-top: 0;
}

.descrTarjeta b{
	font-family: monospace;
	font-size: 150%;
}

#ubi{
	color: white;
	font-family: cursive;;
	margin: 10px;
	display: inline;
}
